@model ControlWork7.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Books";
    Layout = "_Layout";
}
<h2>Books</h2>
@if (@Model.Books.ToList().Count == 0)
{
    <p>Books haven't been added yet</p>
}
else
{
    <div class="row row-cols-1 row-cols-md-4 g-4">
        @foreach (var item in @Model.Books)
        {
            <div class="col">
                <div class="card h-100">
                    <img src="@item.Photo" class="card-img-top" alt="@item.Name">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">Author: @item.Author<br />Status: @item.Status<br /></p>
                        <div class="card-footer">
                            <a class="btn btn-default btn" asp-controller="Books" asp-action="Get" asp-route-bookId="@item.Id">Get</a><br /><a class="btn btn-default btn" asp-controller="Books" asp-action="Details" asp-route-bookId="@item.Id">More info</a><br />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <br />
    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           class="btn btn-light">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Назад
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           class="btn btn-light">
            Вперед
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
}
